<div class="loading-spinner-holder" data-loading >
  <div class="loading-spinner"><img src="static/img/ajax-loader.gif" /></div>
</div>

<div class="container">
  <table ng-show="$ctrl.keys.length > 0" class='table table-condensed table-striped'>
    <thead>
      <tr>
        <th class="col-md-4">Key</th>
        <th class="col-md-4">Created</th>
        <th class="col-md-1">Active</th>
        <th class="col-md-1">Use Count</th>
        <th class="col-md-1">Last Used</th>
        <th class="col-md-1">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="key in $ctrl.keys track by $index">
        <td style="word-break:break-all">{{ key.signature }}</td>
        <td>{{ key.created }}</td>
        <td>{{ key.active }}</td>
        <td>{{ key.use_info.length }}</td>
        <td>{{ key.use_info[key.use_info.length] }}</td>
        <td><button class="btn btn-default btn-sm" ng-click="$ctrl.remove($index)")>Remove</button>
            <button class="btn btn-default btn-sm" ng-click="$ctrl.disable($index)")>Disable</button></td>
      </tr>
    </tbody>
  </table>
</div>
  <p ng-hide="$ctrl.keys.length > 0" class="bg-warning">No api keys found.</p>

<button class="btn btn-default btn-md" ng-click="$ctrl.addKey()")>Create a new key</button>
<!-- <a href="{{ url_for('create_key') }}" class="btn btn-default">Create a new key</a> -->
