{% extends "layout.html" %}
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('planit.static', filename='css/cslpwan.css') }}">
{% endblock %}


{% block body %}
<div ng-app="cslpwanApp">

  <shapepicker
    user = {{ user.sub |tojson }}
    key = {{ key.signature |tojson }}
    staticprefix = {{url_for ('planitapi.static', filename='') |tojson}}
    apiprefix = {{url_for ('planitapi.index')}}>
  </shapepicker>

</div>
{% endblock %}

{% block scripts %}


<script src="{{ url_for ('root.static', filename='js/lodash.min.js')}}"></script>
<script src="{{ url_for ('root.static', filename='js/angular-simple-logger.js')}}"></script>
<script src="{{ url_for ('root.static', filename='js/angular-google-maps.min.js')}}"></script>

<script src="{{ url_for ('cslpwan.static', filename='js/cslpwan/state_data.js')}}"></script>
<script src="{{ url_for ('cslpwan.static', filename='js/cslpwan/shapepicker.component.js')}}"></script>

{% endblock %}
